<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="home align-center">
      <header>
        <div class="outer-wrapper align-center">
          <div class="title">
            <div class="heading-group">
             
            </div>
           </div>
        </div>

      </header>
      
     
    </section>
    
</main>

% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>


% endif

<!-- Your Custom Sections -->

<!--Create Carousel-->
 <section>

   <div class="container align-center">
        <h1 style="color: black; text-align: center;"> Welcome to Basis Learn</h1>
        <h4 style="color: gray; text-align: center;">the online learning platform For the Baby Sleep Info Source</h4>
      <br>
      <br>
      <h2 style="color:black; text-align: center;">We offer introductory and advanced online learning packages for practitioners</h2>
        <!-- <span style="color: red;""><b>Normal Infant Sleep | SIDS and Sleep Safety | Supporting Parents with Infant Sleep</b></span> -->
      <div style="text-align: center;"> All of our courses can be completed at your own speed,
          allow you to check your learning with multi-choice quizzes, offer a certificate of completion, and can be paid for online.<br>
        
          Advanced packages include an interactive discussion session with the Basis Team
          </div>
        </div>
        <div class="container">

          <div class="row">
            <div class="col-4">
      
          <div class="card">
            <h3 class="card-title">Normal Infant Sleep</h3>
              <img src="${static.url('images/Picture1.jpg')}" class="card-img-top" alt="Normal Infant Sleep">
              <div class="card-body">
                
                <p class="card-text">This course about Normal Infant Sleep is a self-study training package is designed for practioners and others.</p>
              </div>
            
              <div class="card-body">
                <a href="https://learn.basisevents.org.uk/courses/course-v1:BASIS+BASIS001+06_21/about" class="btn btn-success btn-lg">Introductory Course</a>
                <a href="" class="btn btn-info btn-lg">Advanced Course</a>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <h3 class="card-title">SIDS & Sleep Safety</h3>
              <img src="${static.url('images/Picture2.jpg')}" class="card-img-top" alt="Sids and Sleep Safety">
              <div class="card-body">
                
                <p class="card-text">This course about SIDS & Sleep Safety is a self-study training package is designed for practioners and others.</p>
              </div>
            
              <div class="card-body">
                <a href="https://learn.basisevents.org.uk/courses/course-v1:LT_Basis+001+202107/about" class="btn btn-success btn-lg">Introductory Course</a>
                <a href="https://learn.basisevents.org.uk/courses/course-v1:LT_Basis+001+202107/about" class="btn btn-info btn-lg">Advanced Course</a>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card" >
              <h3 class="card-title">Supporting Parents with Infant Sleep</h3>
              <img src="${static.url('images/Picture3.jpg')}" class="card-img-top" alt="supporting parents">
              <div class="card-body">
                
                <p class="card-text">This course for Supporing Parents with Infant Sleep is a self-study training package is designed for practioners and others.
                  </p>
              </div>
            
              <div class="card-body">
                <a href="https://learn.basisevents.org.uk/courses/course-v1:LT_Basis+001+202107/about" class="btn btn-success btn-lg">Introductory Course</a>
                <a href="" class="btn btn-info btn-lg">Advanced Course</a>
              </div>
            </div>
            </div>
          </div>
        </div>      
    </div>     
</div>
</div> 
</section>
 <!-- Slider -->
 <!-- <section>
// <div class="container">
// <div id="min_slider">
//   <figure>
//     <img src="/static/gran-openedx-theme/images/fjell.jpg">
//     <img src="/static/gran-openedx-theme/images/fjaere.jpg">
//     <img src="/static/gran-openedx-theme/images/sol.jpg">
//     <img src="/static/gran-openedx-theme/images/sol_hav.jpg">
//     <img src="/static/gran-openedx-theme/images/hauknes.jpg">
   
//   </figure>
// </div>
// </div>
// </section> -->




 <!-- Other Custom sections can be here-->

