<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="home">
      <header>
        <div class="outer-wrapper">
          <div class="title">
            <div class="heading-group">
              % if homepage_overlay_html:
                ${homepage_overlay_html | n, decode.utf8}
              % else:
                <%include file="index_overlay.html" />
              % endif
            </div>
           </div>

          <%include file="index_promo_video.html" />
        </div>

      </header>
      
     
    </section>
    
</main>

% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>


% endif

<br>
<br>


<!-- Your Custom Sections -->

<!--Create Carousel-->
 <section>
     
    <br>
   <br>
   <div class="container">
      
      <div class="align-center">
      <p class="text-centre"><h1>We offer introductory and advanced online learning packages for practitioners</h1>
        <!-- <span style="color: red;""><b>Normal Infant Sleep | SIDS and Sleep Safety | Supporting Parents with Infant Sleep</b></span> -->
        </p>
        </div>
        </div>
        <div class="container">

          <div class="row">
            <div class="col-4">
      
          <div class="card">
            <h3 class="card-title">Normal Infant Sleep</h3>
              <img src="https://learn.basisevents.org.uk/asset-v1:BASIS+BASIS001+06_21+type@asset+block@safelysleeping.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                
                <p class="card-text">This programme comprises three self-paced lecture videos, self-test quizzes, <br>
                  and completion certification.
                  All webinars must be fully completed and quizzes passed at 80% in order to obtain the completion certificate. <br> You are able to take the quizzes as many times as you need.</p>
              </div>
            
              <div class="card-body">
                <a href="https://learn.basisevents.org.uk/courses/course-v1:BASIS+BASIS001+06_21/about" class="btn btn-primary btn-lg">Read more</a>
               
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <h3 class="card-title">Safer Sleep for Babies</h3>
              <img src="https://learn.basisevents.org.uk/asset-v1:LT_Basis+001+202107+type@asset+block@safety.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                
                <p class="card-text">The The Lullaby trust and the Durham Infancy & Sleep Centre research team offer this online course Safer Sleep for Babies. <br>
                  The training is aimed at health-care professionals whose roles put them in contact with parents, families and parents-to-be, <br>
                  although it will also be of use and interest to peer supporters, volunteers, and independent practitioners<br>
                   such as doulas, independent midwives, and breastfeeding supporters.</p>
              </div>
            
              <div class="card-body">
                <a href="https://learn.basisevents.org.uk/courses/course-v1:LT_Basis+001+202107/about" class="btn btn-primary btn-lg">Read more</a>
               
              </div>
            </div>
          </div>
          <div class="col-4">
            
            <div class="card" >
              <h3 class="card-title">Supporting Parents with Infant Sleep</h3>
              <img src="https://www.basisonline.org.uk/wp-content/uploads/sites/6/2019/03/RMP-23.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                
                <p class="card-text">This Introduction to SIDS and Sleep Safety self-study training package is designed for practioners<br>
                   and others whose roles put them in contact with parents, families and parents-to-be such as <br>
                   family support workers, peer supporters, volunteers, and independent practitioners such as doulas, <br>
                   maternity nurses, and breastfeeding supporters.

                  </p>
              </div>
            
              <div class="card-body">
                <a href="https://learn.basisevents.org.uk/courses/course-v1:LT_Basis+001+202107/about" class="btn btn-primary btn-lg">Read more</a>
               
              </div>
            </div>
            </div>
          </div>
        </div>
        <div style="text-align: center;"> All of our courses can be completed at your own speed,
          allow you to check your learning with multi-choice quizzes, offer a certificate of completion, and can be paid for online.<br>
        
          Advanced packages include an interactive discussion session with the Basis Team
          </div>
      
    </div>
    
    <br>
    <br>
     
</div>
</div>  
                
     
</section>


<br>
<br>

 <br>
 <br>

 <!-- Slider -->
 <!-- <section>
// <div class="container">
// <div id="min_slider">
//   <figure>
//     <img src="/static/gran-openedx-theme/images/fjell.jpg">
//     <img src="/static/gran-openedx-theme/images/fjaere.jpg">
//     <img src="/static/gran-openedx-theme/images/sol.jpg">
//     <img src="/static/gran-openedx-theme/images/sol_hav.jpg">
//     <img src="/static/gran-openedx-theme/images/hauknes.jpg">
   
//   </figure>
// </div>
// </div>
// </section> -->




 <!-- Other Custom sections can be here-->

